@import url('https://fonts.googleapis.com/css?family=Raleway');

.home {
    background-image: url('https://images.unsplash.com/photo-1470173274384-c4e8e2f9ea4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    height: 660px;
}

.main-wrapper {
    display: flex;
    background: rgb(91, 91, 209);
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 100px;
    color: white;
    font-family: arial;
    text-shadow: 10px 3px 4px rgba(0, 0, 0);
    transform: scale(0);
    animation: muncul 1s .3s forwards;
}

.semuaform 	{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	animation: gelap 1s forwards;
}
.form 	{
	width: 200px;
	margin: -20px auto;
	padding: 50px;
	animation: formTurun 1s forwards;
}
.daftar 	{
	width: 200px;
	margin: -20px auto;
	border: 1px solid red;
	padding: 50px;
	animation: daftarTurun 1s forwards;
}
.tulisan	{
	position: relative;
	text-align: center;
	line-height: 200px;
	transform: scale(0);
    animation: muncul .7s .7s forwards;
    color: black;
}
.signiture {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: rgb(177, 177, 241);
}

.box {
    display: flex;
    padding: 0px 40px;
    padding-top: 20px;
    border-radius: 20px;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(195, 195, 195));
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.63);
}

.box-header {
    display: flex;
    font-size: 30px;
    margin-bottom: 40px;
}

.box-header > h1 {
    margin: 0;
    font-weight: 500;
}

.box-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-form input {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    border-color: rgb(202, 202, 202);
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
}


.box-form input:last-child {
    width: 100%;
    padding: 20px 0px;
}

.box-form button {
    padding: 20px 0px;
    width: 40%;
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.link {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    width:100%;
}

.link-signup {
    font-weight: 500;
    color: rgb(91, 91, 209);
}

@keyframes gelap {
	0% {
		background: rgb(0,0,0,.1);
	}
	50% {
		background: rgb(0,0,0,.5);
	}
	100% 	{
		background: rgb(0,0,0,.7);
	}
}

@keyframes formTurun {
	0% 	{
		transform: translateY(-999px);
	}
	100% 	{
		transform: translateY(0);
	}
}

@keyframes muncul {
	0% {
		transform: scale(.0);
		text-align: center;
	}
	100% {
		transform: scale(1);
		text-align: center;
	}
}